### IntelliJ IDEA ###
out/
!**/src/main/**/out/
# **/src/main/org/psu/java/example/out/
# **/src/main/org/psu/java/example/application/out/
# **/src/main/org/psu/java/example/domain/out/
!**/src/test/**/out/
.idea
*.iml
/target

### Mac OS ###
.DS_Store